/* #region Base */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    background-color: #ffffff;
    padding-top: 73px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
    margin: 0;
    padding: 0; 
}

img {
    display: block;
    max-width: 100%;
}

/* #endregion /Base */

/* #region Component */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-white {
    color: #f4f4fd;
}

.section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description {
    letter-spacing: 0.02em;
}
/* #endregion /Component */

/* #region Header */
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-black {
    color: #2E2F42;
}

.header-nav {
    display: flex;
    align-items: center;
    
}

.header-nav .logo {
    padding: 24px 0;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item {
    
}

.header-nav-link {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}

.header-nav-link-studio {
    color: #404bbf;
}

.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header-contacts {
    font-style: normal;
}

.header-contact-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-contact-item {}

.header-contacts-link {
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404BBF;
}
/* #endregion /Header */

/* #region Hero */
.hero {
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
   
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)), 
        url(../images/people-office.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container {
    
}

.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.order-button:not(:hover),
.order-button:not(:focus) {
    background-color: #4D5AE5;
}


/* #endregion /Hero */

/* #region Features */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-container {
    
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-title {}

.feature-list {}

.feature-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
}

.icon-box {
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.feature-heading {
    margin-bottom: 8px;
}

.feature-description {}
/* #endregion /Features */

/* #region Team */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-pic {}

.team-text {
    display: flex;
    max-width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    text-align: center;
}

.team-name {
    margin-bottom: 8px;
}

.team-description {
    font-size: 16px;
    color: #434455;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-social-icon {
    
}

.team-social-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404BBF;
}



.team-social-svg {
    fill: #f4f4fd;
}
/* #endregion /Team */

/* #region Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px * 2) / 3);
    row-gap: 48px;
    column-gap: 24px;

}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.overlay-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    color: #F4F4FD;
    letter-spacing: 0.32px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-name {
    margin-bottom: 8px;
}

.portfolio-description {}
/* #endregion /Portfolio */

/* #region Footer */

.footer {
    color: #ffffff;
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-container .logo {
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    max-width: 264px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    
}

.footer-social-text {
    font-weight: 500;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.footer-social-icon {}

.footer-social-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}


.footer-social-svg {
    fill: #f4f4fd;
}

.subscription-form-wrap {

}

.subscribe-heading {
    font-weight: 500;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.subscription-form {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}


.subscription-label {

}

.input-button-wrap {
    display: flex;
}

.subscription-input {
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    
}

.subscription-input:focus-within {
    border: 1px solid #4D5AE5;
}

.subscription-input::placeholder {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.48px;
    
}

.subscribe-button {
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
}
    
    
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}

.subscribe-btn-text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.subscribe-btn-icon {
    fill: #ffffff;
    margin-left: 16px;
}

/* #endregion /Footer */

/* #region Modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(46, 47, 66, 0.40);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.modal {
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    padding: 72px 24px 24px;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-button:hover {
    background-color: #404BBF;
        border: none;
} 

.modal-close-button:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    width: 8px;
    height: 8px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover > .modal-close-icon {
    fill: #FFF;
}
.modal-close-button:focus > .modal-close-icon {
    fill: #FFF;
}

.modal-text {
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
}

.modal-form {}

.modal-element {
    margin-bottom: 8px;
}

.modal-input-label {
    color: #8E8F99;
    font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        margin-bottom: 4px;
        display: block;
}

.modal-input-box {
    position: relative;
}

.modal-input-text {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    height: 40px;
    width: 100%;
    outline: transparent;
    padding: 11px 11px 11px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;

}

.modal-input-text:focus {
    border-color: #4D5AE5;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:focus + .modal-input-icon {
    fill: #4D5AE5;
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-textarea-label {
    color: #8E8F99;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        margin-bottom: 4px;
        display: block;
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    resize: none;
    padding: 8px 16px;
    /* text */
    color: rgba(46, 47, 66, 0.4);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: #4D5AE5;
}

.modal-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
}

.modal-checkbox-area {
    margin-bottom: 24px;
}

.modal-checkbox-input {}

.modal-checkbox-label {
    color: var(--LIGHT-SLATE, #8E8F99);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
}

.modal-checkmark-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 16px;
    height: 16px;
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: rgba(244, 244, 253, 1);
    margin-right: 8px;
    outline: transparent;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkmark-icon {
    width: 10px;
    height: 8px;
    stroke-width: 1px;
    fill: rgba(244, 244, 253, 1);
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkmark-icon {
    background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
}

.checkbox-pp-link {
    color: #4D5AE5;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.48px;
        text-decoration-line: underline;
        text-transform: capitalize;
}

.modal-send-button {
    color:  #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    display: block;
    padding: 16px 32px;       
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    margin: 24px auto 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-send-button:hover, 
.modal-send-button:focus {
    background-color: #404BBF;
}

/* #endregion /Modal */