/* #region Base */

body {
    font-family: "Roboto", sans-serif;
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        font-style: normal;
        font-weight: 400;
        background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: none;  
}

img {
    display: block;
    max-width: 100%;
}

/* #endregion /Base */

/* #region Component */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-white {
    color: #f4f4fd;
}

.section-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description {
    letter-spacing: 0.02em;
}
/* #endregion /Component */

/* #region Header */
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-black {
    color: #2E2F42;
}

.header-nav {
    display: flex;
    align-items: center;
    
}

.header-nav .logo {
    padding: 24px 0;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item {
    padding: 24px 0;
}

.header-nav-link {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.header-nav-link:hover {
    color: #404BBF;
}
.header-nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.header-contacts {
    font-style: normal;
}

.header-contact-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-contact-item {}

.header-contacts-link {
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404BBF;
}
/* #endregion /Header */

/* #region Hero */
.hero {
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
    
}

.hero-container {
    
}

.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    margin: 0 auto;
}


.order-button:focus {
    background-color: #404BBF;
}

.order-button:not(:hover) {
    background-color: #4D5AE5;
}
/* #endregion /Hero */

/* #region Features */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-container {
    
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-title {}

.feature-list {}

.feature-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
}

.feature-heading {
    margin-bottom: 8px;
}

.feature-description {}
/* #endregion /Features */

/* #region Team */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-pic {}

.team-text {
    display: flex;
    max-width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team-name {
    margin-bottom: 8px;
}

.team-description {
    font-size: 16px;
    color: #434455;
}
/* #endregion /Team */

/* #region Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px * 2) / 3);
    row-gap: 48px;
    column-gap: 24px;

}

.portfolio-item {

}

.portfolio-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
    align-self: stretch;
}

.portfolio-name {
    margin-bottom: 8px;
}

.portfolio-description {}
/* #endregion /Portfolio */

/* #region Footer */
.footer {
    color: #ffffff;
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: inline-block;
}

.footer-container .logo {
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    max-width: 264px;
}
/* #endregion /Footer */